# to be renamed to .env
GARDENA_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
GARDENA_CLIENT_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_PREFIX=gardena2mqtt

# Optional
MQTT_CLIENTID=gardena2mqtt
MQTT_USER=
MQTT_PASSWORD=
